<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/tabs/projects']">
      <ion-button>
        <ion-icon color="primary" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="label">Edit: "{{project.title}}"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="label">Name:</ion-label>
      <ion-input placeholder="choose a name" [(ngModel)]="project.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label">Deadline:</ion-label>
      <ion-datetime value='{{project.deadline}}' displayFormat="DD. MMMM YYYY" placeholder="pick a date" min="2019-01-01"
        max="2999-12-31" [(ngModel)]="project.deadline"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label">Owner:</ion-label>
      <ion-select value='{{project.owner}}' placeholder="choose an owner">
        <ion-select-option value='{{users[i]}}' *ngFor="let user of users;  let i = index" [attr.data-index]="i">
          {{users[i]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="primary" class="root" (click)="save(project)">
      Save
    </ion-button>

  </ion-list>
</ion-content>