<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/tabs/projects']">
      <ion-button>
        <ion-icon color="primary" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="label">Edit: "{{project.title}}"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="label">name:</ion-label>
      <ion-input placeholder="project name" [(ngModel)]="project.title"></ion-input>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="label">deadline:</ion-label>
      <ion-datetime value='{{project.deadline}}' displayFormat="DD. MMMM YYYY" placeholder="deadline" min="2019-01-01" max="2999-12-31" [(ngModel)]="project.deadline"></ion-datetime>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="label">owner:</ion-label>
      <ion-select>
        <ion-select-option value='{{users[i]}}' *ngFor="let user of users;  let i = index" [attr.data-index]="i">
          {{users[i]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="primary" class="root" (click)="save(project)">
      Save
    </ion-button>

  </ion-list>
</ion-content>

<script language="javascript" type="text/javascript">
  var d = new Date();
  document.write(d.getDate() + "." + d.getMonth() + "." + (d.getYear() + 1900));
</script>