<ion-header>
  <ion-toolbar>
    <ion-title class="label">Active ToDos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of allToDos">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              {{todo.title}}
            </ion-col>
            <ion-col size="6" *ngIf="todo.dateBis !== null" class="deadline">
              <ion-icon name="alarm"></ion-icon>
              <ion-button>{{todo.dateBis}}</ion-button>
            </ion-col>
            <ion-col>
              <ion-button icon-only (click)="edit(todo)" float-right>
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="finish(todo)">Finish</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>