<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/tabs/todo']">
      <ion-button>
        <ion-icon color="primary" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="label">Edit: "{{toDo.title}}"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label class="label">Name:</ion-label>
      <ion-input placeholder="ToDo" [(ngModel)]="toDo.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label">Project:</ion-label>
      <ion-select value='{{toDo.project}}' placeholder="Choose a project">
        <ion-select-option value='{{project.title}}' *ngFor="let project of projects;  let i = index"
          [attr.data-index]="i">
          {{project.title}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="label">ToDo Owner:</ion-label>
      <ion-select value='{{toDo.owner}}' placeholder="Choose a owner">
        <ion-select-option value='{{users[i]}}' *ngFor="let user of users;  let i = index" [attr.data-index]="i">
          {{users[i]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="label">Start:</ion-label>
      <ion-datetime value='{{toDo.dateAb}}' displayFormat="DD. MMMM YYYY" placeholder="start" min="2019-01-01"
        max="2999-12-31">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label">End:</ion-label>
      <ion-datetime value='{{toDo.dateBis}}' displayFormat="DD. MMMM YYYY" placeholder="end" min="2019-01-01"
        max="2999-12-31">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label">Priority:</ion-label>
      <ion-range [color]="color" min="1" max="4" step="1" value='{{toDo.prio}}' pin="true" snaps ticks
        [(ngModel)]="toDo.prio" (ionChange)="onRangeChangeHandler()">
        <ion-icon [color]="color" slot="start" name="alert"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-button color="primary" class="root">
      Save
    </ion-button>

  </ion-list>

</ion-content>