<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/tabs/projects']">
      <ion-button>
        <ion-icon color="primary" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="label">New Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="label">Name:</ion-label>
      <ion-input [(ngModel)]="newProject.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label">Deadline:</ion-label>
      <ion-datetime value=d displayFormat="DD MMMM YYYY" placeholder="deadline" min="2019-01-01" max="2999-12-31"
        [(ngModel)]="newProject.deadline">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label">Owner:</ion-label>
      <ion-select [(ngModel)]="newProject.owner" placeholder="Choose a owner">
        <ion-select-option value='{{users[i]}}' *ngFor="let user of users;  let i = index" [attr.data-index]="i">
          {{users[i]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="primary" class="root" (click)="addProject()">
      Save
    </ion-button>

  </ion-list>
</ion-content>

<script language="javascript" type="text/javascript">
  var d = new Date();
  document.write(d.getDate() + "." + d.getMonth() + "." + (d.getYear() + 1900));
</script>