<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/tabs/todo']">
      <ion-button>
        <ion-icon color="primary" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="label">new ToDo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label class="label">Name:</ion-label>
      <ion-input [(ngModel)]="newToDo.title" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label">project:</ion-label>
      <ion-select [(ngModel)]="newToDo.owner" >
        <ion-select-option value="Project 1">Project 1</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="label">owner:</ion-label>
      <ion-select [(ngModel)]="newToDo.owner" >
        <ion-select-option value='{{users[i]}}' *ngFor="let user of users;  let i = index" [attr.data-index]="i">
          {{users[i]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="label">start:</ion-label>
      <ion-datetime value=d displayFormat="DD MMMM YYYY" placeholder="start" min="2019-01-01" max="2999-12-31" [(ngModel)]="newToDo.dateab">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="label">end:</ion-label>
      <ion-datetime value=d displayFormat="DD MMMM YYYY" placeholder="end" min="2019-01-01" max="2999-12-31" [(ngModel)]="newToDo.datebis" >
      </ion-datetime>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="label">priority:</ion-label>
      <ion-range [color]="color" min="1" max="4" step="1" value="1" pin="true" snaps ticks [(ngModel)]="newToDo.priority"
        (ionChange)="onRangeChangeHandler()">
        <ion-icon [color]="color" slot="start" name="alert"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-button color="primary" class="root" (click)="addToDo()" >
      Save
    </ion-button>

  </ion-list>

</ion-content>

<script language="javascript" type="text/javascript">

  var d = new Date();
  document.write(d.getDate() + "." + d.getMonth() + "." + (d.getYear() + 1900));


</script>