<ion-header>
  <ion-toolbar>
    <ion-title>projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let project of allProjectss">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{project.title}}
          </ion-col>
          <ion-col>
            <ion-button color="danger" *ngIf="!todo.done && !todo.archived" (click)="finish(todo);$event.stopPropagation();">Finish</ion-button>
            <ion-button color="success" *ngIf="todo.done && !todo.archived" (click)="archive(todo);$event.stopPropagation();">Archive</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-input type="text" placeholder="New Project Title" [(ngModel)]="newProject.title"></ion-input>
  </ion-item>
  <div padding>
    <ion-button (click)="addProject()">Add New Project</ion-button>
  </div>
</ion-content>
